{% extends 'base.html' %}

{% block title %}CRUD de Insetos - Remoção{% endblock %}

{% block main %}

<div class="container mt-5">
  <h2>Edição de registro de {{ documentos['nome']}}</h2>
  <form action="post" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome Comum:</label>
      <input type="text" class="form-control" name="nome" id="nome" value="{{ documentos['nome'] }}" required>
    </div>
    <div class="mb-3">
      <label for="especie" class="form-label">Espécie:</label>
      <input type="text" class="form-control" name="especie" id="especie" value="{{ documentos['especie'] }}" required>
    </div>
    <div class="mb-3">
      <label for="ordem" class="form-label">Ordem:</label>
      <input type="text" class="form-control" name="ordem" id="ordem" value="{{ documentos['ordem'] }}" required>
    </div>
    <div class="mb-3">
      <label for="file" class="form-label">Imagem:</label>
      <input type="file" class="form-control" name="file" id="file">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>


{% endblock %}